/* Das Spielfeld wird in Form eines Canvas erzeugt */
#gameCanvas {
    border: 1px solid black;
    margin: 0 auto;
    display: block;

    background-image: url("../images/field-background.jpg");
    background-size: 100% 100%;

}
#score,
#level {
    color: #BDBDBD;
    font-family: "Comic Sans MS", sans-serif;
    position: absolute;
    font-size: 30px;
}

#score {
    top: 75px;
    right: 450px;
}

#level {
    top: 75px;
    left: 450px;
}
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Hintergrund-Bild hinter dem Spielfeld soll den Screen auf Full-Size abdecken, deshalb "cover" */
}

@font-face {
    font-family: Starjhol;
    src: url(../Fonts/Starjhol.ttf);
}
